* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #1F2937;
    height: 50px;
    align-items: center;
    
    
   
}

.header-top-left {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 150px;
}

.header-top-right {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    
}



ul {
    display: flex;
    list-style-type: none;
    padding-left: 400px;
    gap: 40px;
}

.content {
    display: flex;
    background-color: #1F2937;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-left: 150px;
}


.website {
    display: flex;
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
}

.subtext {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: rgb(49, 87, 181);
    color: white;
    width: 70px;
}

img {
    padding-left: 50px;
    height: 250px;
    width: 500px;
    
}


